
@{
    ViewData["Title"] = "Welcome to Sangh";
}
<style type="text/css">
    img {
        vertical-align: middle;
        border-style: none;
        width: 100%;
        height: 500px;
    }
</style>
<<<<<<< HEAD
<link href="~/css/site.css" rel="stylesheet" />


@*<img src="~/images/HomePageimg.jpg" />*@
<img src="~/images/photo-1579621970563-ebec7560ff3e.jpg" />
=======
 <link href="~/css/site.css" rel="stylesheet" />


<img src="~/images/HomePageimg.jpg"/>
>>>>>>> 6c726088470c1c0693ef0d1105c9e591db1ede12
<div class="centered bg-light text-black">ML-FINANCE-GROUP</div>