
@{
    ViewData["Title"] = "Welcome to Sangh";
}
<style type="text/css">
    img {
        vertical-align: middle;
        border-style: none;
        width: 100%;
        height: 500px;
    }
</style>
 <link href="~/css/site.css" rel="stylesheet" />


<img src="~/images/HomePageimg.jpg"/>
<div class="centered bg-light text-black">ML-FINANCE-GROUP</div>